* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #d9dcd6;
}

/* all links have color white with no underline */
a {
  color: white;
  text-decoration: none;
}

header {
  background-color: #2a607c;
  color: #ffffff;
  padding: 20px;
}

/* <h1> inline with <nav><ul><li> */
header h1 {
  display: inline-block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 48px;
  
}

header nav {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  font-size: 20px;
  float: right;
  margin-top: 20px;
}

header nav ul {
  list-style-type: none;
}

/* <h1> inline with <nav><ul><li> */
header nav ul li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;  
}

.seo {
  color: #d9dcd6;
}

/* Large stock marketing image. Using background-image to scale and crop image */
.stock-image {
  height: 800px;
  width: 100%;
  background-image: url("/assets/images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* <main> floats left of <aside> */
main {
  float: left;
  width: 75%;
  margin-bottom: 20px;
  margin-left: 20px;
}

/* <main><article> container resizes with image */
main article {
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  background-color: #0072bb;
  color: #ffffff;
  margin-top: 20px;
  padding: 30px;
  height: 33%;
  overflow: auto;
}

main article img {
  max-height: 200px;
  padding: 20px;
}

main article h2 {
  font-size: 36px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* <main> inline with <aside> */
aside {
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
  background-color: #2589bd;
  color: white;
  width: 20%;
  margin-top: 20px;
  margin-right: 20px;
}

aside article {
  display: block;
  padding-top: 20px;
  height: 33%;
  padding: 20px;
}

aside article img {
  max-height: 150px;
  margin-left: 10px;
}

footer {
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}
