/* global attributes */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #d9dcd6;
}

a {
  color: white;
  text-decoration: none;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* <header> */
header {
  background-color: #2a607c;
  color: #ffffff;
  padding: 20px;
}

h1 {
  display: inline-block;
  font: 48px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
  float: right;
  font: 20px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

.seo {
  color: #d9dcd6;
}

/* Large stock marketing image. Using background-image to scale and crop image */
.stock-image {
  background-image: url(/assets/images/digital-marketing-meeting.jpg);
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;
}


/* <main> */
main {
  float: left;
  margin: 0px 0px 20px 20px;
  width: 75%;
}

/* <main><article> container resizes with image */
main article {
  background-color: #0072bb;
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 33%;
  margin-top: 20px;
  padding: 30px;
  overflow: auto;
}

main article img {
  max-height: 200px;
  padding: 20px;
}

h2 {
  font-size: 36px;
  padding: 20px 0px 20px;
}

/* <aside> */
aside {
  background-color: #2589bd;
  color: white;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 20px 20px 0px 0px;
  width: 20%; 
}

aside article {
  display: block;
  height: 33%;
  padding: 20px;
}

aside article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 150px; 
}

/* <footer> */
footer {
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
